.form-container {
  text-align: left;
  justify-content: left;
  width: 43vw;
  margin-left: 5vh;
}

form {
  border: 1px solid rgb(76, 0, 130);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
  padding: 1vw;
  border-radius: 20px;
  margin-bottom: 2vh;
  margin-top: 5vh;
  outline: none;
}

.nota-titulo {
  font-size: 2rem;
  border: none;
  width: 40vw;
  font-weight: bold;
  font-family: Merriweather;
  border-bottom: 1px solid indigo;
  outline: none;
  color: indigo;
  margin-bottom: 2vh;
  transition: 0.3s;
}

form textarea {
  font-family: serif;
  margin-bottom: 2vh;
  outline: none;
  font-size: 1.3rem;
  border-radius: 7px;
  border: none;
  width: 41vw;
}

.b-criar-nota {
  outline: none;
  padding: 10px;
  border: 1px solid indigo;
  color: #000;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.3rem;
  width: 40vw;
  margin-left: 2vh;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.164);
}
