.card-nota h3 {
  color: indigo;
  margin-left: 1vw;
}

.card-nota p {
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: baseline;
  word-wrap: break-word;
}

.card-container {
  height: 70%;
  overflow-y: scroll;
}

.card-nota {
  padding: 0;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.219);
  margin-top: 5vh;
  text-decoration: none;
  margin-right: 1vw;
  border-radius: 10px;
  border: 1px solid rgba(76, 0, 130, 0.431);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-container {
  position: absolute;
  width: 40vw;
  right: 5%;
  top: 9rem;
}






/* Custom scrollbar */


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(107, 0, 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}